*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: white;
}
a{
    text-decoration: none;
}
.header{
    display:flex;
    flex-direction: row;
    background-color: #082748;
    height:100px;
    color:white;
    align-items:center;
}
.menus a{
    color:white;
    font-size: 18px;
}
.header-logo{
    font-size:35px;
    margin-left:50px;
    flex:0.5;
}
.header-menus{
    flex:0.5;
    display:flex;
    justify-content: space-evenly;
}
.header-menus a:hover{
    cursor:pointer; 
    color: rgb(200, 200, 200);
}

.main-section{
    height:600px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-bottom:400px;
    gap: 50px;
}
.main-section-1{
    font-size:35px;
    font-weight: 450;
}
.main-section-2{
    width:50%;
	display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-bar{
    width:80%;
    border:0.5px solid grey;
    border-radius:20px;
    height:38px;
    outline:none;
    text-align:left;
    padding-left:20px;
    color:black;
    background-color: aliceblue;
    box-shadow:5px 5px 5px rgb(172, 172, 172);
}
.search-button{
    width:45px;
    height:45px;
    border-radius:50%;
    border:none;
    margin-left: 10px;
}
.search-button:hover{
    cursor:pointer; 
    background-color: rgb(189, 218, 243);
    box-shadow:5px 5px 10px rgb(172, 172, 172);
    transition: background-color 0.2s, box-shadow 0.2s;
}
footer{
    height:75px;
    color:white;
    background-color: #082748;
    text-align: center;
}
.copyright{
    padding-top:20px;
}

 @media (max-width: 1100px) {
    .menus a{
        font-size: 16px;
    }
    .header-logo{
        font-size:30px;
    }
    .main-section-1{
        font-size:30px;
    }
    .main-section-2{
        width: 70%;
    }
 }

 @media (max-width: 800px) {
    .header-menus{
        gap: 15px;
        padding-right: 15px;
    }
    .header-logo{
        font-size:25px;
    }
    .main-section-1{
        font-size:25px;
    }
 }

 @media (max-width: 560px) {
    .header{
        flex-direction: column;
        padding-top: 20px;
        gap:10px;
    }
    .header-logo{
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    .header-menus{
        border-top: 1px solid white;
        width: 100%;
        align-items: center;
    }
 }
