*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: white;
}
a{
    text-decoration: none;
}
/* .header{
    display:flex;
    flex-direction: row;
    background-color: #082748;
    height:100px;
    color:white;
    align-items:center;
} */
.menus a{
    color:white;
    font-size: 18px;
}
.header-logo{
    font-size:35px;
    margin-left:50px;
    flex:0.5;
}
.header-menus{
    flex:0.5;
    display:flex;
    justify-content: space-evenly;
}
.header-menus a:hover{
    cursor:pointer; 
    color: rgb(200, 200, 200);
}

.main-section{
    height:1800px;
    padding-top: 100px;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-bottom:200px;
    gap: 50px;
}

.main-section h2{
    font-size: 30px;
    padding-left: 100px;
}

/* footer{
    height:75px;
    color:white;
    background-color: #082748;
    text-align: center;
} */
.copyright{
    padding-top:20px;
}

@media (max-width: 1100px) {
    .menus a{
        font-size: 16px;
    }
    .header-logo{
        font-size:30px;
    }
    .main-section{
        height: 1600px;
    }
    .main-section h2{
        font-size: 26px;
        padding-left: 100px;
    }
 }

 @media (max-width: 800px) {
    .header-menus{
        gap: 15px;
        padding-right: 15px;
    }
    .header-logo{
        font-size:25px;
    }
    .main-section h2{
        padding-left: 50px;
    }
    .main-section{
        height: 1500px;
        padding-top: 80px;
    }
 }

 @media (max-width: 560px) {
    .header{
        flex-direction: column;
        padding-top: 20px;
        gap:10px;
    }
    .header-logo{
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    .header-menus{
        border-top: 1px solid white;
        width: 100%;
        align-items: center;
    }
    .main-section{
        height: 1200px;
        padding-top: 50px;
    }
    .main-section h2{
        font-size: 22px;
    }
 }
