*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: white;
}
a{
    text-decoration: none;
}
/* .header{
    display:flex;
    flex-direction: row;
    background-color: #082748;
    height:100px;
    color:white;
    align-items:center;
} */
.menus a{
    color:white;
    font-size: large;
}
.header-logo{
    font-size:35px;
    margin-left:50px;
    flex:0.5;
}
.header-menus{
    flex:0.5;
    display:flex;
    justify-content: space-evenly;
}
.header-menus a:hover{
    cursor:pointer; 
    color: rgb(200, 200, 200);
}
.main-section{
    height:800px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    margin-bottom:200px;
    gap: 100px;
    padding: 80px 180px 80px 180px;
}
.main-section-1 ,
.main-section-2{
    flex:0.5;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap: 20px;
    border:1px solid rgba(182, 182, 182,0.4);
    border-radius:10px;
    background-color: aliceblue;
    box-shadow:5px 5px 5px rgb(170, 170, 170);
}
.title{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
}
.semester{
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 20px;
}
.sem{
    font-size: 16px;
    background-color:#133b66;
    height:40px;
    color:aliceblue;
    margin-left:25px;
    margin-right:25px;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(28, 22, 217,0.2);
}
.sem:hover{
    background-color: #082748;
    transition: background-color 0.2s;
    cursor:pointer;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    transition:box-shadow 0.1s;
}
/* footer{
    height:75px;
    color:white;
    background-color: #082748;
    text-align: center;
} */
.copyright{
    padding-top:20px;
}

@media (max-width: 1100px) {
    .menus a{
        font-size: 16px;
    }
    .header-logo{
        font-size:30px;
    }
    .title{
        font-size: 22px;
    }
    .sem{
        font-size: 14px;
    }
    .main-section{
        gap: 70px;
        padding: 80px 100px 80px 100px;
    }
 }

 @media (max-width: 800px) {
    .header-menus{
        gap: 15px;
        padding-right: 15px;
    }
    .header-logo{
        font-size:25px;
    }
    .main-section{
        gap: 50px;
        padding: 80px 50px 80px 50px;
    }
 }

 @media (max-width: 560px) {
    .header{
        flex-direction: column;
        padding-top: 20px;
        gap:10px;
    }
    .header-logo{
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    .header-menus{
        border-top: 1px solid white;
        width: 100%;
        align-items: center;
    }
    .main-section{
        height:1400px;
        gap: 50px;
        padding: 80px 60px 80px 60px;
        flex-direction: column;
    }
    .main-section-1 ,
    .main-section-2{
        padding-left: 20px;
        padding-right: 20px; 
    }
 }