.user {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 40px; 
    height: 30px; 
    border: 2px solid rgb(50,50,50) ;
    border-radius: 20px;
    outline: none;
    color: rgb(130,130,130) ;
    background-color: rgb(20,20,20);
    cursor: pointer;
}

.user:hover {
    background-color: rgb(15,15,15) ; 
}

.nav-menu {
    position: absolute;
    top: 100px;
    right: 15px;
    visibility: hidden;
    width: 150px;
    height: 150px;
    background-color: rgb(25,25,25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(160,160,160) ;
    padding: 10px;
    font-size: 14px;
}

.nav-menu a:hover {
    background-color: rgb(40,40,40);
    border-radius: 5px;
}

.nav-menu.active {
    visibility: visible;
}

.main-section{
    height:600px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-bottom:400px;
    gap: 50px;
}
.main-section-1{
    font-size:30px;
}
.main-section-2{
    width:50%;
	display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-bar{
    width:80%;
    border:1px solid rgb(50,50,50);
    border-radius:20px;
    height:38px;
    outline:none;
    text-align:left;
    padding-left:20px;
    color: rgb(130,130,130) ;
    background-color: rgb(40,40,40) ;
}
.search-button{
    width:40px;
    height:40px;
    border-radius:50%;
    border:0.5px solid #2E2E2E;  
    outline:none;
    margin-left: 10px;
    color: rgb(100,100,100) ;
    background-color: rgb(40,40,40) ;
    border: 1px solid rgb(50,50,50) ;
}
.search-button:hover{
    cursor:pointer; 
    background-color: rgb(25,25,25);
}
.logout-container {
    position: fixed;  
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 30px;
    background-color: rgb(40,40,40);
    border: 1px solid rgb(50,50,50);
    border-radius: 10px;
    text-align: center;
    display: none;
    flex-direction: column;
}
.logout-container.active {
    display: flex;
}
.logout-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.logout-form {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.logout-button, .cancel-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.logout-button {
    background-color: rgb(6, 27, 48);;
    color: rgb(190,190,190);
}
.cancel-button {
    color: rgb(37, 47, 63);
    background-color: rgb(190,190,190);
}
.logout-button:hover {
    background-color:rgb(7, 35, 62);
}
.cancel-button:hover {
    background-color: rgb(160,160,160) ;
}

 @media (max-width: 1100px) {
    .main-section-1{
        font-size:30px;
    }
    .main-section-2{
        width: 70%;
    }
 }

 @media (max-width: 800px) {
    .main-section-1{
        font-size:25px;
    }
 }

 @media (max-width: 560px) {
    
 }
