:root {
    
    --background-color:  rgb(204, 211, 223); 
    --card-background: #E3E3E3; 
    --text-color: #4A4A4A; 
    --secondary-text-color: #7A7A7A;   
   
    --hover-background: #D9D9D9; 
    --border-color:grey; 
  }
  
*{
    font-family:"Oswald";
    background-color:  var(--background-color);
    color:var(--text-color);
    margin:0;
    padding:0;    
}

.todo-heading{
    font-weight: 500;
    text-align: center;
    margin-top:50px;
}
.parent-div{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.input-add-island{
    display:flex;
    width:68%;
    justify-content: center;
    align-items: center;
    border:2px solid var(--border-color);
    border-radius:23px;
    overflow:hidden;
    margin-bottom:1rem;
    background-color: var(--card-background);
}
.todo-input{
    box-sizing: border-box;
    flex:1;
    background-color: var(--card-background);
    height: 40px;
    border:none;
    outline:none;
    caret-color:var(--primary-accent);
    padding-left:20px;
    color:var(--text-color);
}
.todo-input::placeholder{
    color:var(--secondary-text-color);
}
.add-button{
    height:40px;
    width:60px;
    border:none;
    border-radius:20px;
    background-color: #082748;
    color:var(--card-background);
    cursor:pointer;
}
.add-button:hover{
    background-color: #033162;
    transition:background-color, 200ms;
}
.todo-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    list-style: none;
    width:65%;
}

/* javascript classes */

.todo{
    background-color: var(--card-background);
    display:flex;
    margin:0.5rem;
    border:2px solid #082748;
    border-radius: 15px;
    overflow:hidden;
}
.todo-item{
    flex:1;
    background-color: transparent;
    height:38px;
    padding-left:10px;
    display:flex;
    align-items: center;
}
.complete-btn{
    border:none;
    width:1.6rem;
    height:1.6rem;
    background-color: transparent;
    border:2px solid #082748;
    margin:5px;
    margin-left:10px;
    border-radius:50%;
    cursor:pointer;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}
.complete-btn i{
    opacity:0;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}   
.trash-button{
    border:none;
    width:2rem;
    background-color: transparent;
    cursor:pointer;
}
.trash-button:hover i{
    color:#082748;
}
.fa-trash, .fa-solid{
    pointer-events:none;
}
.complete-btn-checked i{
    opacity:1;
}
.cross-text{
    opacity:0.8;
    text-decoration: line-through;
    transition:opacity 200ms, text-decoration 400ms;
}
.illuminate-div{
    border-color: var(--border-color);
}
